[submodule "bookshop"]
	path = bookshop
	url = https://github.com/capire/bookshop
[submodule "bookstore"]
	path = bookstore
	url = https://github.com/capire/bookstore
[submodule "reviews"]
	path = reviews
	url = https://github.com/capire/reviews
[submodule "orders"]
	path = orders
	url = https://github.com/capire/orders
[submodule "fiori"]
	path = fiori
	url = https://github.com/capire/fiori
[submodule "shared-db"]
	path = shared-db
	url = https://github.com/capire/shared-db
[submodule "common"]
	path = common
	url = https://github.com/capire/common
[submodule "etc/data-viewer"]
	path = etc/data-viewer
	url = https://github.com/capire/data-viewer
